*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e6bdbd;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.position-absolute{
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 60px;
    font-size: 40px;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

.text-break{
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 460px;
    font-size: 30px;
    margin-top: 200px;
    color: rgb(255, 255, 255); 
}

.modal-content {
    background: rgb(255, 228, 228);
    color: black;
}

.modal-title {
    font-size: 30px;
}

.name {
    font-size: 20px;
}

.btn.btn-outline-light.btn-lg{
    margin-left: 460px;
    margin-top: 430px;
    width: 200px;
    font-size: 25px;
}

.photo1.img-fluid{
    width: 400px;
    height: 400px;
    display: inline-block;
    height: auto;
    margin-top: 200px;
    margin-left: 0px;
}

.about_us{
    font-family: 'Aboreto', cursive;
    margin-left: 200px;
    font-size: 35px;
    margin-top: 200px;
    color: rgb(255, 253, 253);
    text-decoration: underline;
}

.info_about_us{
    font-family: 'Aboreto', cursive;
    margin-left: 5px;
    font-size: 30px;
    margin-top: 50px;
    color: rgb(255, 251, 251);
    width: 750px;
}

.col-md-4.col-sm-12{
    display: flex;
    margin-top: 200px; 
}

.card-title {
    text-decoration: underline;
    font-size: 25px;
}

.card-text {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-text.two {
    margin-top: 0px;
    font-size: 35px;
}

.col-md-4.col-sm-12.facts {
    margin-top: 350px;
    margin-bottom: 50px;
}

.fa-check-square{
    font-size: 100px;
    position: absolute;
    margin-top: -190px;
}

.Quality_assurance {
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 110px;
    font-size: 20px;
    margin-top: -170px;
    color: rgb(255, 255, 255);
}

.coment1{
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 110px;
    font-size: 15px;
    margin-top: -140px;
    color: rgb(255, 255, 255);
}

.fa-camera-retro {
    font-size: 100px;
    position: absolute;
    margin-top: -190px;
}

.Photo_report {
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 115px;
    font-size: 20px;
    margin-top: -180px;
    color: rgb(255, 255, 255);
}

.coment2 {
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 115px;
    font-size: 15px;
    margin-top: -160px;
    color: rgb(255, 255, 255);
    width: 280px;
}

.fa-gift {
    font-size: 100px;
    position: absolute;
    margin-top: -190px;
}

.present {
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 115px;
    font-size: 20px;
    margin-top: -165px;
    color: rgb(255, 255, 255);
}

.coment3 {
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 115px;
    font-size: 15px;
    margin-top: -135px;
    color: rgb(255, 255, 255);
}

.our_mission {
    font-size: 40px;
    margin-left: 200px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Aboreto', cursive;
}

.our_mission_text {
    font-size: 35px;
    margin-left: 70px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    width: 700px;
}

@media (max-width: 576px){
    .position-absolute{
        margin-left: 10px;
        font-size: 25px;
        margin-top: 50px;
    }
    
    .text-break{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 130px;
    } 

    .btn.btn-outline-light.btn-lg {
        margin-left: 10px;
        margin-top: 300px;
        font-size: 20px;
    }

    .col-md-4.col-sm-12.a {
        margin-top: 50px; 
    }

    .col-md-4.col-sm-12.b {
        margin-top: 50px; 
    }

    
    .col-md-4.col-sm-12.c {
        margin-top: 50px;
    }
    
    .card-title {
        font-size: 25px;
    }
    
    .card-text {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .card-text.two {
        margin-top: 0px;
        font-size: 35px;
    }

    .col-md-4.col-sm-12.facts.aa{
        margin-top: 230px;
    } 
    
    .col-md-4.col-sm-12.facts.b{
        margin-top: 100px;
    }

    .col-md-4.col-sm-12.facts.c{
        margin-top: 100px;
        margin-bottom: -30px;
    }

    .fa-check-square {
        margin-left: 5px;
    }

    .Quality_assurance{
        margin-top: -170px;
        font-size: 18px; 
        margin-left: 100px;
    }

    .coment1 {
        margin-top: -135px;
        margin-left: 100px;
    }

    .Photo_report {
        margin-top: -180px;
        margin-left: 110px;
    }

    .coment2 {
        width: 208px;
        font-size: 15px;
        margin-top: -150px;
        margin-left: 110px;
    }

    .present {
        margin-top: -165px;
        margin-left: 110px;
    }

    .coment3 {
        width: 200px;
        font-size: 15px;
        margin-top: -135px;
        margin-left: 110px;
    }

    .photo1.img-fluid{
        width: 400px;
        height: 400px;
        margin-top: 220px;
        margin-left: 0px;
    }
    
    .about_us{
        margin-left: 50px;
        font-size: 35px;
        margin-top: 45px;
        color: rgb(255, 253, 253);
    }
    
    .info_about_us{
        margin-left: 5px;
        font-size: 20px;
        margin-top: 20px;
        color: rgb(255, 251, 251);
        width: 300px;
    }

    .our_mission {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Aboreto', cursive;
    }

   .our_mission_text {
    font-size: 25px;
    margin-left: 0px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    width: 300px;
    }
}

@media (min-width: 375px){
    .fa-check-square {
        margin-left: 5px;
    }

    .fa-check-square {
        margin-left: 10px;
    }

    .Quality_assurance{
        margin-top: -170px;
        font-size: 20px; 
        margin-left: 110px;
    }

    .coment1 {
        margin-top: -135px;
        margin-left: 110px;
    }

    .Photo_report {
        font-size: 20px;
        margin-top: -180px;
        margin-left: 110px;
    }

    .coment2 {
        width: 208px;
        font-size: 15px;
        margin-top: -150px;
        margin-left: 110px;
    }

    .present {
        margin-top: -165px;
        margin-left: 110px;
        font-size: 20px;
    }

    .coment3 {
        width: 200px;
        font-size: 15px;
        margin-top: -135px;
        margin-left: 110px;
    }

    
    .photo1.img-fluid{
        width: 400px;
        height: 400px;
        margin-top: 220px;
    }
    
    .about_us{
        margin-left: 80px;
        font-size: 35px;
        margin-top: 45px;
    }
    
    .info_about_us{
        font-size: 20px;
        margin-top: 20px;
        width: 350px;
    }

    .our_mission {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-family: 'Aboreto', cursive;
    }

   .our_mission_text {
    font-size: 25px;
    margin-left: 0px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    width: 350px;
    }
}

@media (min-width: 576px){
    .position-absolute{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 50px;
        font-size: 40px;
        margin-top: 100px;
        color: rgb(255, 255, 255);
    }

    .text-break{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 50px;
        font-size: 30px;
        margin-top: 200px;
        color: rgb(255, 255, 255); 
    }
    
    .btn.btn-outline-light.btn-lg{
        margin-left: 50px;
        margin-top: 430px;
        width: 200px;
        font-size: 25px;
    } 
    
    .card-title {
        font-size: 25px;
    }
    
    .card-text {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .card-text.two {
        margin-top: 0px;
        font-size: 35px;
    }

    .photo1.img-fluid{
        width: 400px;
        height: 400px;
        margin-top: 220px;
        margin-left: 55px;
    }
    
    .about_us{
        margin-left: 160px;
        font-size: 35px;
        margin-top: 45px;
    }
    
    .info_about_us{
        font-size: 20px;
        margin-top: 20px;
        width: 500px;
        margin-left: 25px;
    }

    .col-md-4.col-sm-12.facts.aa {
        margin-top: 250px;
    }

    .col-md-4.col-sm-12.facts.b {
        margin-top: 150px;
    }

    .col-md-4.col-sm-12.facts.c {
        margin-top: 150px;
    }

    .fa-check-square {
        margin-left: 105px;
    }

    .Quality_assurance{
        margin-top: -170px;
        font-size: 18px; 
        margin-left: 220px;
    }

    .coment1 {
        margin-top: -140px;
        margin-left: 220px;
    }

    .fa-camera-retro {
        margin-left: 100px;
    }

    .Photo_report {
        margin-top: -175px;
        margin-left: 220px;
    }

    .coment2 {
        width: 208px;
        font-size: 15px;
        margin-top: -150px;
        margin-left: 220px;
    }

    .fa-gift {
        margin-left: 100px;
    }

    .present {
        margin-top: -165px;
        margin-left: 220px;
    }

    .coment3 {
        width: 200px;
        font-size: 15px;
        margin-top: -135px;
        margin-left: 220px;
    }
}


@media (min-width: 768px){
    .position-absolute{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 140px;
        font-size: 40px;
        margin-top: 100px;
        color: rgb(255, 255, 255);
    }

    .text-break{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 140px;
        font-size: 30px;
        margin-top: 200px;
        color: rgb(255, 255, 255); 
    }
    
    
    .btn.btn-outline-light.btn-lg{
        margin-left: 140px;
        margin-top: 430px;
        width: 200px;
        font-size: 25px;
    } 

    .photo1.img-fluid{
        margin-top: 220px;
        margin-left: 0px;
    }
    
    .about_us{
        margin-left: 100px;
        font-size: 35px;
        margin-top: 250px;
    }
    
    .info_about_us{
        font-size: 20px;
        margin-top: 20px;
        width: 400px;
        margin-left: 10px;
    }

    .fa-check-square {
        margin-left: 30px;
        margin-top: -150px;
    }

    .Quality_assurance{
        margin-top: -30px;
        font-size: 20px; 
        margin-left: -25px;
    }

    .coment1 {
        margin-top: -5px;
        margin-left: -10px;
        font-size: 15px;
    }

    .fa-camera-retro {
        margin-left: 30px;
        margin-top: -50px;
    }

    .Photo_report {
        margin-top: 70px;
        margin-left: 40px;
        font-size: 20px;
    }

    .coment2 {
        width: 250px;
        font-size: 15px;
        margin-top: 95px;
        margin-left: -30px;
    }

    .fa-gift {
        margin-left: 55px;
        margin-top: -55px;  
    }

    .present {
        margin-top: 70px;
        margin-left: 65px;
    }

    .coment3 {
        width: 250px;
        font-size: 15px;
        margin-top: 95px;
        margin-left: -5px;
    }
}

@media (min-width: 992px){
    .position-absolute{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 270px;
        font-size: 40px;
        margin-top: 100px;
        color: rgb(255, 255, 255);
    }

    .text-break{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 270px;
        font-size: 30px;
        margin-top: 200px;
        color: rgb(255, 255, 255); 
    }
    
    
    .btn.btn-outline-light.btn-lg{
        margin-left: 270px;
        margin-top: 430px;
        width: 200px;
        font-size: 25px;
    } 

    .fa-check-square{
        font-size: 100px;
        position: absolute;
        margin-top: -200px;
        margin-left: 0px;
    }
    
    .Quality_assurance {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 90px;
        font-size: 20px;
        margin-top: -180px;
        color: rgb(255, 255, 255);
    }
    
    .coment1{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 90px;
        font-size: 15px;
        margin-top: -150px;
        color: rgb(255, 255, 255);
    }
    
    .fa-camera-retro {
        font-size: 100px;
        position: absolute;
        margin-top: -100px;
        margin-left: 0px;
    }
    
    .Photo_report {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 20px;
        margin-top: -80px;
        color: rgb(255, 255, 255);
    }
    
    .coment2 {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 15px;
        margin-top: -50px;
        color: rgb(255, 255, 255);
        width: 200px;
    }
    
    .fa-gift {
        font-size: 100px;
        position: absolute;
        margin-top: -100px;
        margin-left: 0px;
    }
    
    .present {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 20px;
        margin-top: -75px;
        color: rgb(255, 255, 255);
    }
    
    .coment3 {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 15px;
        margin-top: -50px;
        color: rgb(255, 255, 255);
        width: 200px;
    }
}

@media (min-width: 1200px){
    .position-absolute{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 380px;
        font-size: 40px;
        margin-top: 100px;
        color: rgb(255, 255, 255);
    }

    .text-break{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 380px;
        font-size: 30px;
        margin-top: 200px;
        color: rgb(255, 255, 255); 
    }
    
    
    .btn.btn-outline-light.btn-lg{
        margin-left: 380px;
        margin-top: 430px;
        width: 200px;
        font-size: 25px;
    }

    .col-md-4.col-sm-12.facts.aa {
        margin-top: 350px;
    }

    .col-md-4.col-sm-12.facts.b {
        margin-top: 250px;
    }

    .col-md-4.col-sm-12.facts.c {
        margin-top: 250px;
    }
    
    .fa-check-square{
        font-size: 100px;
        position: absolute;
        margin-top: -200px;
        margin-left: 0px;
    }
    
    .Quality_assurance {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 20px;
        margin-top: -180px;
        color: rgb(255, 255, 255);
    }
    
    .coment1{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 105px;
        font-size: 20px;
        margin-top: -150px;
        color: rgb(255, 255, 255);
    }
    
    .fa-camera-retro {
        font-size: 100px;
        position: absolute;
        margin-top: -100px;
        margin-left: 0px;
    }
    
    .Photo_report {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 110px;
        font-size: 20px;
        margin-top: -90px;
        color: rgb(255, 255, 255);
    }
    
    .coment2 {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 110px;
        font-size: 20px;
        margin-top: -65px;
        color: rgb(255, 255, 255);
        width: 200px;
    }
    
    .fa-gift {
        font-size: 100px;
        position: absolute;
        margin-top: -100px;
        margin-left: 0px;
    }
    
    .present {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 110px;
        font-size: 20px;
        margin-top: -75px;
        color: rgb(255, 255, 255);
    }
    
    .coment3 {
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 110px;
        font-size: 20px;
        margin-top: -50px;
        color: rgb(255, 255, 255);
        width: 260px;
    }
} 

@media (min-width: 1400px){
    .position-absolute{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 450px;
        font-size: 40px;
        margin-top: 100px;
        color: rgb(255, 255, 255);
    }

    .text-break{
        font-family: 'Aboreto', cursive;
        position: absolute;
        margin-left: 450px;
        font-size: 30px;
        margin-top: 200px;
        color: rgb(255, 255, 255); 
    }
    
    
    .btn.btn-outline-light.btn-lg{
        margin-left: 450px;
        margin-top: 430px;
        width: 200px;
        font-size: 25px;
    }

    .photo1.img-fluid{
        width: 400px;
        height: 400px;
        display: inline-block;
        height: auto;
        margin-top: 200px;
        margin-left: 0px;
    }
    
    .about_us{
        font-family: 'Aboreto', cursive;
        margin-left: 200px;
        font-size: 35px;
        margin-top: 200px;
        color: rgb(255, 253, 253);
        text-decoration: underline;
    }
    
    .info_about_us{
        font-family: 'Aboreto', cursive;
        margin-left: 5px;
        font-size: 30px;
        margin-top: 50px;
        color: rgb(255, 251, 251);
        width: 750px;
    }

}






