body {
    background: url(imgonline-com-ua-Resize-aodNpEnaiDm23E.jpg);
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.position-absolute{
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 50px;
    font-size: 40px;
    margin-top: 50px;
    color: white;
}

.text-break{
    font-family: 'Aboreto', cursive;
    position: absolute;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 150px;
    color: rgb(255, 255, 255); 
}

@media (max-width: 355px) {
    .position-absolute{
        margin-left: 10px;
        font-size: 25px;
        margin-top: 50px;
    }
    
    .text-break{
        margin-left: 10px;
        font-size: 20px;
        margin-top: 130px;
    } 
}
/*
button {
    margin-top: 410px;
    margin-left: 50px;
}







